footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #15171A;
    height: 250px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 70%;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 100%;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 55%;
    height: 100%;
    border-left: 2px solid #61C4FF;
    padding-left: 40px;
}

.footer-social-medias {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.footer-phone {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    width: 100%;
}

.footer-phone label {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 800;
    color: #F3FAFE;
}

.footer-email {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    width: 100%;
}

.footer-email label {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 800;
    color: #F3FAFE;
}

.footer-copyright {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    width: 100%;
}

.footer-copyright label {
    font-size: 16px;
    font-weight: 800;
    color: #F3FAFE;
}