* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("../imagens/img_quadra.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Spartan", sans-serif;
}
.header-cadastro {
  position: absolute;
  width: 158px;
  height: 85px;
  left: -26px;
  top: 38px;
  background: #1b2024;
  border-radius: 9.71741px;
}
.header-cadastro img {
  position: absolute;
  width: 75px;
  height: 52.61px;
  left: 27px;
  top: 16px;
}
.container-cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  width: 100%;
  height: 100vh;
}

.corpo-cadastro {
  /* position: absolute; */
  width: 516px;
  height: 658px;
  left: 425px;
  top: 55px;
  background: #1b2024;
  border-radius: 9.71741px;
}
.components-logo {
  position: absolute;
  width: 87.41px;
  height: 76.6px;
  left: 580px;
  top: 90px;
}
.components-leights {
  position: absolute;
  width: 151.7px;
  height: 35.12px;
  left: 90px;
  top: 20px;
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 31px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #f3fafe;
}
.components-title {
  position: absolute;
  width: 198px;
  height: 23px;
  left: 90px;
  top: 50px;
  font-style: normal;
  font-weight: 200;
  font-size: 6px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #f3fafe;
}
.components-nome {
  position: absolute;
  width: 43px;
  height: 55px;
  left: 10px;
  top: 100px;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 55px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #f3fafe;
}
.components-sobrenome {
  position: absolute;
  width: 43px;
  height: 55px;
  left: 220px;
  top: 100px;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 55px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #f3fafe;
}
.components-email {
  position: absolute;
  width: 43px;
  height: 55px;
  left: 10px;
  top: 200px;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 55px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #f3fafe;
}
.components-senha {
  position: absolute;
  width: 43px;
  height: 55px;
  left: 10px;
  top: 300px;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 55px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #f3fafe;
}
.components-confirmarSenha {
  position: absolute;
  width: 150px;
  height: 55px;
  left: 220px;
  top: 300px;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 55px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #f3fafe;
}
.components-cpf {
  position: absolute;
  width: 43px;
  height: 55px;
  left: 10px;
  top: 390px;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 55px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #f3fafe;
}
.components-telefone {
  position: absolute;
  width: 43px;
  height: 55px;
  left: 10px;
  top: 480px;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 55px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #f3fafe;
}
.components-input-nome {
  position: relative;
  padding: 15px 0;
  left: 220px;
  top: 43px;
  width: 200%;
}

.components-input-sobrenome {
  position: relative;
  padding: 15px 0;
  left: 10px;
  top: -16px;
  width: 100%;
}
.components-input-email {
  position: relative;
  padding: 15px 0;
  left: 10px;
  top: 20px;
  width: 200%;
}
.components-input-senha {
  position: relative;
  padding: 15px 0;
  left: 10px;
  top: 65px;
  width: 200%;
}
.components-input-confirmarSenha {
  position: relative;
  padding: 15px 0;
  left: 220px;
  top: 6px;
  width: 100%;
}
.components-input-cpf {
  position: relative;
  padding: 15px 0;
  left: 10px;
  top: 40px;
  width: 200%;
}
.components-input-telefone {
  position: relative;
  padding: 15px 0;
  left: 10px;
  top: 60px;
  width: 200%;
}
.components-button {
  position: relative;
  padding: 15px 0;
  left: 10px;
  top: 60px;
  width: 200%;
}
.form__nome {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 10px;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__sobrenome {
  font-family: inherit;
  width: 200%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 10px;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__email {
  font-family: inherit;
  width: 220%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 10px;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__senha {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 10px;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
 .form__confirmarSenha {
  font-family: inherit;
  width: 200%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 10px;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__telefone {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 10px;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}   
.form__cpf {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 10px;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}