* {
  margin: 0;
  padding: 0;
}

.imagem-login {
  font-family: "Spartan", sans-serif;
  background-image: url("../img/quadra-login.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-login {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 10%;
  height: 85px;
  background: #1b2024;
  border-radius: 0 10px 10px 0;
}

#logoResenhaLogin {
  height: 56px;
  transition: 0.1s ease-in;
}

#logoResenhaLogin:hover {
  height: 58px;
  transition: 0.1s ease-out;
}

.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.corpo-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 70%;
  background: #1b2024;
  border-radius: 10px;
}

.corpo-login-container {
  width: 80%;
  height: 80%;
  /* background-color: royalblue; */
}

.campo-form-login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 65%;
}

.campo-email-login {
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 0;
}

.campo-senha-login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}