* {
  margin: 0;
  padding: 0;
}

.imagem-cadastro {
  background-image: url("../img/img_quadra.png");
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Spartan", sans-serif;
}

.header-cadastro {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 10%;
  height: 85px;
  background: #1b2024;
  border-radius: 0 10px 10px 0;
}

#logoResenhaCadastro {
  height: 50px;
  transition: 0.1s ease-in;
}

#logoResenhaCadastro:hover {
  height: 52px;
  transition: 0.1s ease-out;
}

.container-cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.corpo-cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 90%;
  background: #1b2024;
  border-radius: 10px;
}

.corpo-cadastro-container {
  width: 80%;
  height: 90%;
}

.campo-formulario-container {
  display: flex;
  flex-direction: column;
  height: 70%;
}

.campo-nome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.campo-email {
  display: flex;
  flex-direction: row;
}

.campo-senha {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.campo-cpf {
  display: flex;
  flex-direction: row;
}

.campo-telefone {
  display: flex;
  flex-direction: row;
}