.imagem-cadastro {
  background-image: url("../img/img_quadra.png");
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Spartan", sans-serif;
}

.header-cadastro {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 10%;
  height: 85px;
  background: #1b2024;
  border-radius: 0 10px 10px 0;
}

#logoResenhaCadastro {
  height: 50px;
  transition: 0.1s ease-in;
}

#logoResenhaCadastro:hover {
  height: 52px;
  transition: 0.1s ease-out;
}

.container-cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.corpo-cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 90%;
  background: #1b2024;
  border-radius: 10px;
}

.corpo-cadastro-container {
  width: 80%;
  height: 90%;
}

.campo-formulario-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85%;
}

.campo-nome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.campo-email {
  display: flex;
  flex-direction: row;
}

.campo-senha {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.campo-cpf-idade {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.campo-telefone {
  display: flex;
  flex-direction: row;
}

.campo-form {
  width: 48%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #F3FAFE;
}

.campo-form label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
}

.campo-form input {
  font-family: 'Spartan';
  font-weight: 600;
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #8FD5FE;
  margin-top: 10px;
  outline: none;
  color: #F3FAFE;
  text-transform: none;
  text-decoration: none;
}

.campo-form-extended {
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  color: #F3FAFE;
}

.campo-form-extended label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
}

.campo-form-extended input {
  font-family: 'Spartan';
  font-weight: 600;
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #8FD5FE;
  margin-top: 10px;
  outline: none;
  color: #F3FAFE;
}

/* Remove a estilização dos inputs com AutoComplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: "color 9999s ease-out, background-color 9999s ease-out";
  transition-delay: 9999s;
}

/* Remove o spinner de inserir números em inputs em formato Number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Colore para branco o ícone do calendário do input no formato Date */
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}