.botao-formulario-container {
    display: flex;
    flex-direction: column;
    height: 15%;
}

.sendbutton-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sendbutton-form button {
    width: 100%;
    height: 40px;
    font-family: 'Spartan';
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #8FD5FE;
    border-radius: 9px;
    cursor: pointer;
    color: #F3FAFE;
}

.button-form-footer {
    margin-top: 7px;
    text-align: center;
}

.button-form-footer label {
    font-size: 12px;
    font-weight: 800;
    color: #F3FAFE;
}

.button-form-footer b {
    color: #8FD5FE;
}