.header-form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15%;
}

.header-form-img {
    display: flex;
    width: 25%;
    height: 100%;
}

.header-form-img img {
    height: 76px;
}

.header-form-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 73%;
    height: 100%;
}

.header-form-titulo label {
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
    color: #F3FAFE;
}

.header-form-subtitulo label {
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    color: #F3FAFE;
}